body{
background-color: orange;
font-size : 20px;
}


#menu {
	font-size:30px;
	
	
}

h1 {
	color: white;
	text-shadow: 2px 2px #ff0000;
}

h3 {
	text-shadow: 2px 2px #e6e6d8, 3px 4px #c6a39a;
}

table, th, td {
  border:1px solid black;width:100%;
}

#crachoir {
	position: sticky;
top: 20px;
}